<% provide(:title, "Sign up") %>
<div class=" col-md-4 row form-container">
  <% flash.each do |msg_type, msg| %>
    <div class="alert alert-<%= msg_type %>"><%= msg %></div>
  <% end %>
  <h1>Sign up</h1>
  <p>This is the sign up page for new users</p>
  <%= form_for(@user) do |f| %>
    <%= render 'form', f: f %>
    <%= f.submit "Create my account", class: "btn btn-primary" %>
  <% end %>
</div>