<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="col-sm-10 main-container">
    <div class="container">
      <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Help', help_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
          <li><%= link_to 'Signup', signup_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <a href="#" class="dropdown_toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Dashboard", current_user %></li>
                <li><%= link_to "Settings", "#" %></li>
                <li class="divider"></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", login_path%></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <% flash.each do |msg_type, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{msg_type}") %>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
