<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <aside class="sidebar">
      <ul>
        <li class="logo"><%= link_to image_tag("go-notes-logo-new.png", alt: "Go-Notes", class: "img-responsive", size: "160"), root_path %></li>
      </ul>
      
        <ul>
          <li class="menu-title">User Menu</li>
          <li><%= active_link_to "sticky-note.png", "Notes", notes_path %></li>
          <li><%= active_link_to "profile-setting.png", "Profile Settings", edit_user_url(current_user) %></li>
          <li><%= active_link_to "logout.png", "Logout", logout_path, method: :delete %></li>
        </ul>
        <ul>
          <li class="menu-title">Write New Note</li>
        </ul>
        <%= render 'notes/notesform' %>
    </aside>
  <% end %>
  <section class="main-container fade in">
    <div class="top">
      
    </div>
      <%= yield %>
    <div class="col-md-12"><%= debug(params) if Rails.env.development? %></div>
  </section>
</body>
</html>
